[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[color]
	ui = true
[user]
	name = Chris Wilding
	email = hello@chriswilding.co.uk
	useconfigonly = true
	signingkey = 4AED59F0
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[rebase]
	autostash = true
[grep]
	threads = 8
[stash]
	showPatch = true
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[diff]
	compactionHeuristic = true
[submodule]
	fetchJobs = 4
