[branch]
	autoSetupMerge = true
[core]
	excludesFile = ~/.gitignore_global
	pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
	whitespace = cr-at-eol,blank-at-eof,blank-at-eol,tab-in-indent
[credential]
	helper = osxkeychain
[init]
	templateDir = ~/.git_template
[rebase]
	autoStash = true
[rerere]
	autoUpdate = true
	enabled = true
[stash]
	showPatch = true
[user]
	email = hello@chriswilding.co.uk
	name = Chris Wilding
	useConfigOnly = true
