[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[user]
	name = Chris Wilding
	email = hello@chriswilding.co.uk
	useconfigonly = true
	signingkey = 4AED59F0
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[rebase]
	autostash = true
[grep]
	threads = 8
[stash]
	showPatch = true
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
