"*":
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
  editor:
    fontFamily: "Source Code Pro"
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
  "git-diff":
    showIconsInEditorGutter: true
  welcome:
    showOnStartup: false
".go.source":
  editor:
    tabLength: 8
